.stations {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .stationsTitle {
    display: flex;
    justify-content: space-between;

    .arrow {
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin-top: 5px;
    }

    .toggleArrowRight {
      transform: rotate(180deg);
    }
  }

  .station {
    cursor: pointer;
    display: flex;
    margin-bottom: 12px;

    .stationName {
      background-color: var(--white);
      border: 1px solid var(--lightGray);
      border-radius: 4px 0 0 4px;
      font-weight: var(--regular);
      padding: 8px;
    }

    .stationNameOnly {
      border-radius: 4px;
    }

    .hideMixerName {
      display: none;
    }

    .mixer {
      background-color: var(--white);
      border: 1px solid var(--lightGray);
      border-left: 0px;
      border-radius: 0 4px 4px 0;
      font-weight: var(--light);
      overflow: hidden;
      padding: 8px;
      text-overflow: ellipsis;
      width: 172px;
      white-space: nowrap;
    }

    .stationIsEmpty {
      background-color: var(--softGray);
      border-color: var(--baseTeal);
    }
  }
}
