.appContainer {
  background-color: var(--white);
  color: var(--black);
  padding: 0 8px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .appHeader {
    display: flex;
    align-items: center;

    .logo {
      height: 36px;
    }
  }

  .appBodyContainer {
    display: flex;
    flex: auto;
    flex-direction: row;
    overflow: hidden;

    &.shiftLeft {
      transform: translateX(-10%);
    }

    .stationsContainer {
      display: flex;
    }

    .hideStations {
      display: none;
    }

    .verticalLine {
      background-color: var(--midGray);
      width: 1px;
      margin: 0 16px;
      height: 100%;
      overflow: hidden;
    }

    .cocktailsContainer {
      position: relative;
      flex: 1;
      overflow: hidden;

      display: flex;
    }

    .selectedStationSlide {
      transition: transform 1s ease;
      background-color: var(--white);
      // box-shadow: -20px 0px 10px 1px #aaaaaa;
      z-index: 2;
    }

    .selectedStationSlide {
      transform: translateX(0);
      transition: transform 1s ease;
    }

    .slideOut {
      transform: translateX(100%);
    }

    .cocktailSlideContainer {
      display: flex;
      height: 100%;
      width: 100%;
      transition: width 1s ease;
    }

    .selectedStationSlide {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      animation: slideIn 1s forwards;
    }

    .slideOut {
      animation: slideOut 1s forwards;
    }

    .cocktailRecipeSlide {
      width: 33%;
      min-width: 300px;
      max-width: 400px;
      background-color: var(--white);
      height: 100%;
      box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
      transition: transform 1s ease;
    }

    .slideOutCocktailRecipe {
      transform: translateX(100%);
    }

    @keyframes slideIn {
      from {
        left: 100%;
      }
      to {
        left: 0;
      }
    }

    @keyframes slideOut {
      from {
        left: 0;
      }
      to {
        left: 100%;
      }
    }
  }
}
