.appContainer {
  background-color: var(--white);
  color: var(--black);
  padding: 0 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .appHeader {
    display: flex;
    align-items: center;

    .logo {
      height: 36px;
    }
  }

  .appBodyContainer {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    &.shiftLeft {
      transform: translateX(-300px);
      transition: transform 0.5s ease;
    }

    &.shiftRight {
      transform: translateX(0);
      transition: transform 0.5s ease;
    }

    .stationsContainer {
      display: flex;
    }

    .hideStations {
      display: none;
    }

    .verticalLine {
      background-color: var(--midGray);
      width: 1px;
      margin: 0 16px;
      height: 100%;
      overflow: hidden;
    }

    .cocktailsContainer {
      display: flex;
      transition: transform 0.5s ease;
      width: 100%;

      .cocktailSlideContainer {
        position: relative;
      }
    }

    .selectedStationSlide {
      transition: transform 1s ease;
      background-color: var(--white);
      z-index: 2;
    }

    .selectedStationSlide {
      transform: translateX(0);
      transition: transform 1s ease;
    }

    .slideOut {
      transform: translateX(100%);
    }

    .selectedStationSlide {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      animation: slideIn 1s forwards;

      &.show {
        transform: translateX(0%);
      }
    }

    .slideOut {
      animation: slideOut 1s forwards;
    }

    .slideOutCocktailRecipe {
      transform: translateX(100%);
    }
  }

  .cocktailRecipeSlide {
    background-color: var(--white);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    height: calc(100% - 36px);
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 36px;
    transition: transform 0.5s ease;
    width: 300px;

    &.slideIn {
      transform: translateX(0%);
      pointer-events: auto;
    }

    &.slideOut {
      transform: translateX(100%);
    }
  }

  @keyframes slideIn {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes slideOut {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }
}
