.appContainer {
  background-color: var(--white);
  color: var(--black);
  height: 100vh;
  padding: 8px;
  width: 100vw;

  .logo {
    height: 36px;
    margin: 0 auto;
  }

  .appBodyContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .stationsContainer {
      display: flex;
      flex: 1;
    }

    .verticalLine {
      background-color: var(--midGray);
      width: 1px;
      margin: 0 16px;
      height: 100%;
    }

    .cocktailsContainer {
      flex: 4;
      overflow-y: scroll;
    }
  }
}
