/***************
 *   IMPORTS   *
 ***************/

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..600;1,400..600&display=swap');

:root {
  --fontFamily: 'Afacad', sans-serif;

  /**********
    * Colors *
    **********/
  --black: #313131;
  --white: #fcfcfc;
  --softGray: #f0f0f0;
  --lightGray: #cfcfcf;
  --midGray: #a4a4a4;
  --baseTeal: #5ed1c4;
  --darkTeal: #67a79f;
  --mutedTeal: #d3e2e1;
  --danger: #f38686;
  --warning: #e1e981;
  --success: #a8e1a8;

  /**************
    * Font Sizes *
    **************/
  --fontSize: 16px;
  --font-xxs: 0.25rem;
  --font-xs: 0.5rem;
  --font-sm: 0.75rem;
  --font-md: 1rem;
  --font-lg: 1.1rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.5rem;

  /****************
    * Font Weights *
    ****************/
  --light: 400;
  --regular: 500;
  --bold: 600;

  /******************
  * Letter Spacing *
  ******************/
  --regular-spacing: 0.12em;
  --wide-spacing: 0.2em;
  --wider-spacing: 0.25em;
  --widest-spacing: 0.3em;
}

/**********
  * Resets *
  **********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--light);
  letter-spacing: var(--regular-spacing);
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--fontFamily);
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  outline: none;
  text-transform: inherit;

  &:active,
  &:focus,
  &:hover {
    border: none;
    outline: none;
  }
}

#root {
  width: inherit;
}

/***************
 *   Mixins    *
 ***************/
@mixin heading-style(
  $font-size,
  $font-weight,
  $letter-spacing,
  $text-transform: uppercase
) {
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  margin: 0;
  text-transform: $text-transform;
}

/***************
 *   Headings   *
 ***************/
h1 {
  @include heading-style(var(--font-xxl), var(--bold), var(--widest-spacing));

  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--baseTeal);
    margin: 4px 0;
  }
}

h2 {
  @include heading-style(var(--font-xl), var(--bold), var(--wider-spacing));

  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--baseTeal);
    margin: 2px 0;
  }
}

h3 {
  @include heading-style(var(--font-lg), var(--light), var(--wide-spacing));

  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--baseTeal);
    margin: 1px 0;
  }
}

h4 {
  @include heading-style(
    var(--font-md),
    var(--regular),
    var(--regular-spacing),
    none
  );
}
