.cocktailRecipe {
  height: inherit;
  overflow: hidden;

  .info {
    height: inherit;
    overflow-y: scroll;

    .header {
      text-align: center;

      h4 {
        font-size: var(--font-lg);
        margin: 12px 0;
        text-transform: uppercase;
      }
    }

    .image {
      height: 200px;
      width: 100%;
      position: relative;

      .cocktailImage {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .instructions {
    padding: 0 12px 12px;
  }

  .buttons {
    display: flex;
    font-weight: var(--light);
    gap: 8px;
    justify-content: center;
    letter-spacing: var(--regular-spacing);
    margin-top: 12px;
    text-transform: uppercase;

    .goBack {
      background: transparent;
      border: none;
      color: var(--black);
      cursor: pointer;
      transition: font-weight 0.7s ease;

      &:hover {
        font-weight: var(--bold);
        transition: font-weight 0.7s ease;
      }
    }

    .startCocktail {
      background-color: var(--baseTeal);
      border-radius: 4px;
      color: var(--white);
      cursor: pointer;
      padding: 8px 16px;
      text-align: center;
      text-transform: uppercase;
      transition:
        background-color 0.7s ease,
        font-weight 0.7s ease;

      &:hover {
        background-color: var(--darkTeal);
        font-weight: var(--bold);
        transition:
          background-color 0.7s ease,
          font-weight 0.7s ease;
      }
    }
  }
}
